.si{
    a{
        color: white !important;
    -webkit-text-stroke: 1px black;
    font-size: 15px;
    }
}

.bg-light{
    background: linear-gradient(180deg, rgba(42, 79, 156, 1) 4%, rgba(111, 11, 200, 1) 52%, rgba(2, 0, 36, 1) 100%) !important;
}


.dropdown-menu{
    background: linear-gradient(180deg, rgba(42, 79, 156, 1) 4%, rgba(111, 11, 200, 1) 52%, rgba(2, 0, 36, 1) 100%) !important;
}
