* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: disgaea;
    src: url(font/Boge.ttf);
}


body {
    min-height: 100%;
    overflow-x: hidden;
    background-image: url(Imagenes/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: disgaea;
}



.navContainer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 25px;
    font-size: 15px;
    transition: all 0.2s;
    background: linear-gradient(180deg, rgba(42, 79, 156, 1) 4%, rgba(111, 11, 200, 1) 52%, rgba(2, 0, 36, 1) 100%);
    background-size: cover;
}

.navContainer ul li a:hover {
    background: linear-gradient(180deg, rgba(42, 79, 156, 1) 4%, rgba(111, 11, 200, 1) 52%, rgba(2, 0, 36, 1) 100%);

}

.navContainer ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 15px;
}


.navtext{
    font-size: 15px;
    color: #ffff;
    -webkit-text-stroke: 1px black;
}